# general things to ignore
build/
dist/
*.egg-info/
*.egg
*.py[cod]
__pycache__/
*.so
*~
.eggs/

# pytest
.cache

# sphinx
docs/_build/

# eclipse
.settings/

# debian
debian/edi/
debian/edi.*.debhelper
debian/debhelper-build-stamp
debian/edi.debhelper.log
debian/edi.substvars
debian/files
.pybuild/
