# general things to ignore
build/
dist/
*.egg-info/
*.egg
*.py[cod]
__pycache__/
*.so
*~
.eggs/

# pytest
.cache
htmlcov/
.coverage

# sphinx
docs/_build/

# travis
edi_*dsc
edi_*xz
edi_*deb
edi_*build
edi_*changes

# eclipse
.settings/

# debian
debian/edi/
debian/edi.*.debhelper
debian/debhelper-build-stamp
debian/edi.debhelper.log
debian/edi.substvars
debian/.debhelper
debian/files
.pybuild/

# edi results
artifacts/*.tar.*

# Ansible
*.retry

# development IDEs
.idea/
travis/travis-key.tar
travis/travis-key.asc
travis/travis-key.passphrase
