# general things to ignore
build/
dist/
venv/
*.egg-info/
*.egg
*.py[cod]
__pycache__/
*.so
*~
.eggs/

# pytest
.cache
htmlcov/
.coverage

# sphinx
docs/_build/

# eclipse
.settings/

# debian
debian/edi/
debian/edi.*.debhelper
debian/debhelper-build-stamp
debian/edi.debhelper.log
debian/edi.substvars
debian/.debhelper
debian/files
.pybuild/

# edi results
artifacts/*.tar.*

# Ansible
*.retry

# development IDEs
.idea/

# Github
.github/secrets/
build-output/
