Source: edi
Section: devel
Priority: optional
Build-Depends: ansible (>= 2.9),
               binfmt-support,
               debhelper (>= 10),
               debootstrap,
               dh-python,
               flake8,
               liblzma5,
               openssh-client,
               pycodestyle,
               python3,
               python3-apt (>= 1),
               python3-argcomplete,
               python3-click,
               python3-dateutil,
               python3-debian,
               python3-gnupg,
               python3-jinja2,
               python3-packaging,
               python3-pytest,
               python3-requests-mock,
               python3-setuptools,
               python3-setuptools-scm,
               python3-sphinx,
               python3-sphinx-rtd-theme,
               python3-yaml,
               sudo,
               zstd,
Maintainer: Matthias Luescher <lueschem@gmail.com>
Standards-Version: 3.9.7
X-Python3-Version: >= 3.8

Package: edi
Architecture: all
Depends: ${misc:Depends},
         ${python3:Depends},
         ansible (>= 2.9),
         binfmt-support,
         debootstrap,
         ethtool,
         liblzma5,
         openssh-client,
         qemu-user-static (>= 1:4.2),
         sudo,
         zstd,
Recommends: debian-archive-keyring,
            mmdebstrap,
Suggests: buildah,
          containers-storage,
          distrobox,
          dosfstools,
          e2fsprogs,
          genimage,
          mtools,
          podman,
Description: Embedded Development Infrastructure - edi
 Driven by the DevOps mindset edi helps you to streamline your embedded
 development infrastructure. To achieve this goal, edi leverages top-notch
 open source technologies such as Debian, Ansible and LXD.

